aiofiles
aiohttp
azure-storage-blob
black
fastapi
imageio-ffmpeg
msal
openai
pydantic
pyodbc
pytest
pytest-asyncio
pytest-mock
python-dotenv
python-docx
python-multipart
requests
sqlalchemy
tiktoken
uvicorn[standard]
